sqlalchemy 
asyncpg 
alembic 
psycopg2-binary

uvicorn[standard]
httptools
pydantic 

pydantic-settings 
python-dotenv
#python-jobspy
tenacity 

pyyaml
pandas
fastapi[standard]

python-multipart
slowapi
fastapi-pagination[sqlalchemy]

celery[redis]==5.4.*
flower==2.0.*
pywin32==306; sys_platform == "win32"