sqlalchemy 
asyncpg 
alembic 
psycopg2-binary

uvicorn[standard]
httptools
pydantic 

pydantic-settings 
python-dotenv
#python-jobspy
tenacity 

pyyaml
pandas
fastapi[standard]

python-multipart
slowapi
fastapi-pagination[sqlalchemy]

celery[redis]
redis
flower
eventlet
